---
import S from "../../components/StaticSentenceSsr.astro";

interface Props {
  d: string;
}
const { d } = Astro.props;
---

<section>
  <h2>L16, §1. くれる・あげる・もらう</h2>
  <div class="p">
    For me it's easy to remember the directionality of these words.
  </div>
  <ul>
    <li>あげる is always leaving me—I'm generously emitting goodwill.</li>
    <li>
      もらう and くれる are always inbound to me—I'm receiving goodwill from
      others.
    </li>
  </ul>
  <div class="p">But then there's a few different mental models.</div>
  <ul>
    <li>
      "To give" is literally the meaning of あげる and くれる. "giver が
      recipient に something を (あげる or くれる)"
    </li>
    <li>
      "To receive" is literally もらう, and the recipient is the subject.
      "recipient が giver に something を もらう"
    </li>
  </ul>
  <div class="p">
    Another typology the cleaves the three in a different way is
  </div>
  <ul>
    <li>
      あげる and もらう both take <ruby>私<rt>わたし</rt></ruby> ("me") as the subject.
      "<ruby>私<rt>わたし</rt></ruby> が something を (あげる or もらう)"
    </li>
    <li>
      In contrast, the "other party" is the subject of くれる. "they が <ruby
        >私<rt>わたし</rt></ruby
      > に くれる"
    </li>
  </ul>

  <div class="p">
    Here's my story from Genki II Workbook, page 42:
    <ul>
      <li>
        <S d={d} plain="パルクールの大会にピザ屋さんがいました" />
      </li>
      <li><S d={d} plain="少年はスライスを買いたかったです" /></li>
      <li>
        <S
          d={d}
          plain="でも二十ドル札だけあってピザ屋さんはお釣りがありませんでした"
        />
      </li>
      <li>
        <S d={d} plain="お金持ちだから、カードで少年にピザを買ってあげました" />
      </li>
    </ul>
  </div>
  <div class="p">
    Here are some great questions to practice くれる・あげる・もらう along with
    時 (below):
  </div>
  <div class="p">
    <S d={d} plain="友達が落ち込んでいる時、友達に何をしてあげますか" />. <S
      d={d}
      plain="友達の宿題や仕事を手伝ってあげる"
    />
  </div>
  <div class="p">
    <S d={d} plain="寂しい時、誰に何をしてもらいたいですか" />. <S
      d={d}
      plain="家族と一緒に話してもらいたい"
    />
  </div>

  <div class="p">
    <S d={d} plain="子供の時、家族は何をしてくれましたか" />。
    <S d={d} plain="美味しいご飯を作ってくれました" />
    <blockquote>
      <details>
        <summary>Notes</summary>
        I was wondering if "Xの時" was more or less common than "X時" so I looked
        up <a href="https://nlb.ninjal.ac.jp/headword/N.00435/">時 on NINJAL</a>
        and while it does say that
        <ul>
          <li>"<ruby>名詞<rt>めいし</rt></ruby>＋時" = 4,894 frequency</li>
          <li>"名詞＋の＋時" = 44 frequency</li>
        </ul>
        <p>(名詞="noun"), the vast majority of "X時" is</p>
        <ul>
          <li>
            numbers like "時９〜１７時", i.e., じ not とき, and set phrases like
          </li>
          <li>
            <ruby>夕<rt>ゆう</rt></ruby><ruby>暮<rt>ぐ</rt></ruby>れ<ruby
              >時<rt>どき</rt></ruby
            > (dusk)
          </li>
          <li>
            <ruby>梅<rt>つ</rt></ruby><ruby>雨<rt>ゆ</rt></ruby><ruby
              >時<rt>どき</rt></ruby
            > (rainy season)
          </li>
          <li>
            <ruby>昼<rt>ひる</rt></ruby><ruby>時<rt>どき</rt></ruby> (lunchtime),
            etc.
          </li>
        </ul>
        <p>So this sentence doesn't allow you to give "子供時" by itself.</p>
      </details>
    </blockquote>
  </div>
</section>
