---
export const prerender = true;

import Basic from "../layouts/Basic.astro";

import StaticSentence from "../components/StaticSentenceSsr.astro";
import { clearDocument } from "../db";
import StaticSentenceSsr from "../components/StaticSentenceSsr.astro";

const d = "Genki";

clearDocument(d);
---

<style>
  div.paragraph {
    margin: 1em 0;
  }
</style>

<Basic title={d}>
  <h1>{d}</h1>
  <div class="paragraph">
    Here's a basic demo sentence I want to remember: <StaticSentence
      plain="うどんを食べた"
      d={d}
    />
  </div>
  <div class="paragraph">
    I didn't know this about たくさん: it can be used as an adverb and a noun
    and an adjective. This sentence can be shuffled around two ways, though only
    one will be visible: <StaticSentence
      d={d}
      plain="京都でたくさん写真を撮りました"
    />
  </div>
  <div class="paragraph">
    Consider several sentences in one:
    <StaticSentence d={d} plain="これは兄が予約した旅館です" />. Here are two
    sentences in one:
    <StaticSentence d={d} plain="音が好き" />. And consider this:
    <StaticSentence d={d} plain="死んじまえ" />
    <StaticSentence d={d} plain="触ったら死んだ" />
    <StaticSentence d={d} plain="いつ彼にあげるか分からない" />
  </div>
  <div class="paragraph">
    From Genki II Workbook, Lesson 17 worksheet (page 44):
    <ul>
      <li>
        <StaticSentence d={d} plain="ヤスミンは一日に五回お祈りするそうです" />
      </li>
      <li><StaticSentence d={d} plain="友達の寮は汚くないそうです" /></li>
      <li>
        <StaticSentence d={d} plain="たけしは旅行会社に就職したそうです" />
      </li>
      <li><StaticSentence d={d} plain="映画館は混んでいなかったそうです" /></li>
      <li>
        <StaticSentence
          d={d}
          plain="明日試験だから、夜ソラが勉強しなければいけないそうです"
        />
      </li>
      <li><StaticSentence d={d} plain="ケンの大家さんはケチだそうです" /></li>
    </ul>
  </div>
  <div class="paragraph">
    Here's my story from Genki II Workbook, page 42:
    <ul>
      <li>
        <StaticSentence d={d} plain="パルクールの大会にピザ屋さんがいました" />
      </li>
      <li><StaticSentence d={d} plain="少年はスライスを買いたかったです" /></li>
      <li>
        <StaticSentence
          d={d}
          plain="でも二十ドル札だけあってピザ屋さんはお釣りがありませんでした"
        />
      </li>
      <li>
        <StaticSentence
          d={d}
          plain="お金持ちだから、カードで少年にピザを買ってあげました"
        />
      </li>
    </ul>
  </div>
  <div>
    <StaticSentence d={d} plain="お姉ちゃん、かぜひいた？" />
  </div>
</Basic>
