---
export const prerender = true;

import Basic from "../layouts/Basic.astro";

import StaticSentence from "../components/StaticSentenceSsr.astro";
import { clearDocument } from "../db";

const documentName = "Genki";

clearDocument(documentName);
---

<style>
  div.paragraph {
    margin: 1em 0;
  }
</style>

<Basic title={documentName}>
  <h1>{documentName}</h1>
  <div class="paragraph">
    Here's a basic demo sentence I want to remember: <StaticSentence
      plain="うどんを食べた"
      docName={documentName}
    />
  </div>
  <div class="paragraph">
    I didn't know this about たくさん: it can be used as an adverb and a noun
    and an adjective. This sentence can be shuffled around two ways, though only
    one will be visible: <StaticSentence
      docName={documentName}
      plain="京都でたくさん写真を撮りました"
    />
  </div>
  <div class="paragraph">
    Consider several sentences in one:
    <StaticSentence
      docName={documentName}
      plain="これは兄が予約した旅館です"
    />. Here are two sentences in one:
    <StaticSentence docName={documentName} plain="音が好き" />. And consider
    this:
    <StaticSentence docName={documentName} plain="死んじまえ" />
  </div>
  <div>
    <ul>
      <li><StaticSentence docName={documentName} plain="（筆跡音）"/></li>
    </ul>
<ul>
      <li><StaticSentence docName={documentName} plain="（夏目美緒）ハァ…"/></li>
    </ul>
<ul>
      <li><StaticSentence docName={documentName} plain="（森川葉月のくしゃみ）"/></li>
    </ul>
<ul>
      <li><StaticSentence docName={documentName} plain="（鼻をすする音）"/></li>
    </ul>
<ul>
      <li><StaticSentence docName={documentName} plain="（森川睦月）"/></li>
      <li><StaticSentence docName={documentName} plain="お姉ちゃん、かぜひいた？"/></li>
    </ul>
<ul>
      <li><StaticSentence docName={documentName} plain="（葉月）明日は終業式なのにね"/></li>
    </ul>
<ul>
      <li><StaticSentence docName={documentName} plain="（相馬陽斗）ハァ…"/></li>
    </ul>
<ul>
      <li><StaticSentence docName={documentName} plain="（電車の走行音）"/></li>
    </ul>
<ul>
      <li><StaticSentence docName={documentName} plain="（父親）家 見えてきたぞ"/></li>
    </ul>
<ul>
      <li><StaticSentence docName={documentName} plain="（泉瑛太）どれ？"/></li>
    </ul>
<ul>
      <li><StaticSentence docName={documentName} plain="（父親）"/></li>
      <li><StaticSentence docName={documentName} plain="正面のほう 大きいやつ"/></li>
    </ul>
<ul>
      <li><StaticSentence docName={documentName} plain="（瑛太）あ…"/></li>
      <li><StaticSentence docName={documentName} plain="あんなとこ 住むの…"/></li>
    </ul>
<ul>
      <li><StaticSentence docName={documentName} plain="昨日"/></li>
      <li><StaticSentence docName={documentName} plain="中学時代の友人はおると？"/></li>
      <li><StaticSentence docName={documentName} plain="4年会ってない奴がおる"/></li>
      <li><StaticSentence docName={documentName} plain="薄情なやつばい"/></li>
    </ul>
<ul>
      <li><StaticSentence docName={documentName} plain="（渡辺）今日で"/></li>
      <li><StaticSentence docName={documentName} plain="２学期も終わりなわけだが―"/></li>
      <li><StaticSentence docName={documentName} plain="就職するヤツも"/></li>
      <li><StaticSentence docName={documentName} plain="進学するヤツも―"/></li>
      <li><StaticSentence docName={documentName} plain="高校生でいられる時間は"/></li>
      <li><StaticSentence docName={documentName} plain="残り僅かだからな―"/></li>
      <li><StaticSentence docName={documentName} plain="残った時間をどう過ごすのかも"/></li>
      <li><StaticSentence docName={documentName} plain="よーく考えて"/></li>
    </ul>
<ul>
      <li><StaticSentence docName={documentName} plain="冬休みを迎えるんだぞ"/></li>
    </ul>
<ul>
      <li><StaticSentence docName={documentName} plain="（チャイム）"/></li>
      <li><StaticSentence docName={documentName} plain="（男子生徒）起立"/></li>
    </ul>
<ul>
      <li><StaticSentence docName={documentName} plain="（シャッター音）"/></li>
    </ul>
<ul>
      <li><StaticSentence docName={documentName} plain="（猿渡順平）"/></li>
      <li><StaticSentence docName={documentName} plain="陽斗よ～ 今日もやんだろ？"/></li>
    </ul>
  </div>
</Basic>
