---
export const prerender = true;

import Basic from "../layouts/Basic.astro";

import StaticSentence from "../components/StaticSentenceSsr.astro";
import { clearDocument } from "../db";

const documentName = "Genki";

clearDocument(documentName);
---

<style>
  div.paragraph {
    margin: 1em 0;
  }
</style>

<Basic title={documentName}>
  <h1>{documentName}</h1>
  <div class="paragraph">
    Here's a basic demo sentence I want to remember: <StaticSentence
      plain="うどんを食べた"
      docName={documentName}
    />
  </div>
  <div class="paragraph">
    I didn't know this about たくさん: it can be used as an adverb and a noun
    and an adjective. This sentence can be shuffled around two ways, though only
    one will be visible: <StaticSentence
      docName={documentName}
      plain="京都でたくさん写真を撮りました"
    />
  </div>
  <div class="paragraph">
    Consider several sentences in one:
    <StaticSentence
      docName={documentName}
      plain="これは兄が予約した旅館です"
    />. Here are two sentences in one:
    <StaticSentence docName={documentName} plain="音が好き" />. And consider
    this:
    <StaticSentence docName={documentName} plain="死んじまえ" />
  </div>
</Basic>
